<% layout('/public/layout') %>
<div class="row">

<div class="col-lg-6 col-md-offset-3  login-form o padding 2000px block-shadow block-shadow">

<form method="post" action="getInfo">
  <h1 class="text-light">Digite La Matricula del Estudiante a Consultar</h1>
  <hr class="thin"/>
  <br />
<div class="form-group" >
   <label>Codigo Estudiante</label>
   <input type="text"  name="code" class="form-control"  required="true" />
</div>

<button type="submit" class="btn btn-success">Buscar</button>
</form>

</div>
</div>
